.home_layout {
    height: 100%;
    min-height: 100vh;
}

#Assets {
    height: 100%;

    &>div {
        height: 100% !important;
    }
}

/* menu */
.manu_container {
    position: relative;
}

.menu_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    img {
        width: 100%;
    }
}
.message_logo{
    color: black;
    font-size: larger;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.menu_logo {
    width: 100%;
    height: 55px;
    font-size: 44px;
    line-height: 100%;
    padding-left: 20px;
}

.ant-layout-sider {
    position: relative;
    min-width: 0;
    // background: #001529;
    transition: all 0.2s;

}

.ant-sider-menu-none {
    display: none;

}

/* breakcrumb */
.crumb_layout {
    padding-left: 20px;
    padding-top: 8px;
}

/* tip menu  */
.tip_initbtn {
    display: none;
}

.tipmenu_initstyle {
    width: 40px;
    height: 40px;
    background: #6236FF;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

.tipmenu_trigger_btn_position {
    position: absolute;
    top: 6%;
    right: 0;
}

.tipmenu_trigger_btn {
    position: absolute;
    right: 100%;
    top: 6%;
    &:extend(.tipmenu_initstyle);
}


.follow_menu_list {
    margin-top: 20px;
    min-height: 200px;
    padding: 0;

    li {
        height: 40px;
        line-height: 40px;
        padding-left: 26px;
        cursor: pointer;

        &:hover {
            background: #e6f7ff;
            color: #6236FF;

        }
    }

    .li_menu_active {
        padding-left: 22px;
        border-left: 4px solid #6236FF;
        background: #e6f7ff;
        color: #6236FF;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0px;
    /*滚动条宽度*/
    height: 0px
        /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    /*滚动条的背景区域的内阴影*/
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;

    /*滚动条的背景区域的圆角*/
    border-radius: 0px;

    /*滚动条的背景颜色*/
    background-color: #ddd;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    /*滚动条的内阴影*/
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;

    /*滚动条的圆角*/
    border-radius: 0px;

    /*滚动条的背景颜色*/
    background-color: #aaa;
}