.title_left {
    color: #1F2D3D;
    margin-right: 20px;
}

.title_right {
    font-weight: 100;
    font-size: 12px;
    color: #91A1B7;
}

.check_item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding-right: 45px;
    line-height: 24px;
    height: 24px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.tags_title {
    width: 224px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check_item_one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total_tags {
    display: flex;
    flex-direction: column;
}

.all_tags {
    margin-top: 10px;
}

.one_tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.one_title {
    margin-right: 8px;
}

.add_tag {
    color: #0DB3A6;
    display: inline-block;
    cursor: pointer;
}

.edit_main {
    height: 110%;
    overflow-y: auto;
}

.edit_main .mid-layout {
    min-height: 200px;
    /* height: 100%; */
}

.myTabs {
    /* margin: 0 !important; */
}

.edit_main .myTabs {
    overflow: auto;
    min-height: 400px;
}

/* .my_controller {
    position: relative;
    z-index: 999;
}

.my_controller * {}
.text-color-dropdown 


/* .bf-link-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .text-color-dropdown{
    width: 22px !important;
}
.text-color-dropdown span{
    width: 22px !important;
}
.bf-link-editor .input-group {
    width: fit-content;
}

.bf-link-editor .buttons {
    width: fit-content;
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.bf-link-editor .buttons * {
    margin-bottom: 4px;
} */

.my_controller .button {
    min-width: 22px !important;
    width: 22px !important;
    padding: 0 !important;
}

.link_condition {
    padding-top: 40px;
}

.link_condition_add {
    width: fit-content;
    cursor: pointer;
    color: #0DB3A6;
}

.link_condition_one {
    margin-bottom: 5px;
}

.link_result {
    padding-top: 40px;
    height: 400px;
}

.link_result_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.link_result_content * {
    margin-right: 20px;
}

.link_btn {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(209, 209, 209);
}

.link_condition_list {
    height: 100px;
    overflow-y: auto;
}

.self_rich_text {
    font-size: 12px;
    line-height: 1.4;
    color: #91A1B7;
    margin-bottom: 4px;
}

.self_pattern_con {
    margin-top: 10px;
}

.query_title {
    position: relative;
    margin: 10px 0;
    font-weight: 700;
}

.self_link_show_one {
    padding: 5px 0;
}

.self_link_show_title {
    position: relative;
    padding: 5px 0;
    line-height: 20px;
    color: #1F2D3D;
    font-weight: 600;
    display: flex;
}

.self_link_show_content {
    cursor: default;
    background: #f9f9fa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 8px;
    font-size: 14px;
    color: #1F2D3D;
    line-height: 20px;
    width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
}

.query_add_btn {
    width: fit-content;
    cursor: pointer;
    color: #0DB3A6;
}
.query_conditions_title{
    color: #91A1B7;
    margin-bottom: 10px;
}
.query_condition_list{
    height: 445px;
    overflow: auto;
}
.query_condition_list_one{
    margin-bottom: 10px;
}
.ant-table-body{
    max-height: 450px !important;
}
.self_add_data{
    width: fit-content;
    margin-bottom: 5px;
    cursor: pointer;
    color: #0DB3A6;
}
.ant-popover-inner-content{
    padding: 10px !important;
}