.header{
    background-color: white;
    justify-content: space-between;
    height: 100%;
}
.headerMenu{
    justify-items: center;
}
.labelForCom{
    border: 1px solid black;
    border-radius: 0;
    width: 40%;
    font-weight: bolder;
    font-size: 20px;
}
.formItemLabel{
    font-size: 15px;
    font-weight: bolder;
}
.formItemDescripe{
    opacity:50%
}